.body {
	margin: 0px;
	border: none;
	padding: 0px;
	background-color: #dadaddea;
}


.banner{
	background-image: url(../images/main-banner.png);
	background-size: cover;
	background-position: center;
	height: 20rem;
	margin-bottom: 1em;
}

.title {
	margin: 0.2em;
	padding: 0.2em 0 0 0;
	text-align: center;
	font-family: 'Dancing Script';
	font-size: 4.5em;
}


.title a{
	color:rgba(24, 126, 10, 0.7);
	text-decoration: none;
	padding: 0;
}

.description {
	min-width: 350px;
	max-width: 600px;
	min-height: 50px;
	max-height: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	margin-top: 0;
	font-size: 1.2em;
	font-family: 'Short Stack';	
}


.description p {
	background-color: wheat;
	opacity: 0.5;
	padding: 1em;
	margin-top: 0;
}

.recipe {
	float: left;
	text-align: center;
	min-width: 30%;
	max-width: 80%;	
	margin-left: auto;
	margin-right: auto;
}

.recipe a{
	text-decoration: none;
	color: rgba(36, 35, 35, 0.938);
}


.recipe-image, .recipe-image-item{
	text-align: center;

}

.recipe img{
	width: 280px;
	height: 280px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	object-position: center;
	border-radius: 1em;
}

.recipe-image-item img{
	max-width: 300px;
	margin:1em;
	height: auto;
	float: left;
}

.recipe-title{
	text-align: center;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}


.howtodo{
	text-align: left;
	font-family: 'Short Stack';
}

.ingredients-list{
	list-style-type: none;
}

.contacts {
	text-align: center;
	padding: 1em;
	height: auto;
	background-color: silver;
}

contacts p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

@media only screen and (min-width: 640px) {
  body {
    text-align: center
  }
}